body, html {
    margin: 0;
    padding: 0;
    background-color: transparent; /* Set your preferred background color */
  }

  html {
    scroll-behavior: smooth;
  }

  img {
    margin: 0;
    padding: 0;
  }