@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,

a {
  color: #84309c;
  text-decoration: none;
}

body {
  color: #e7e8e8;
  background: #040317;
}

colors {
  'text': #e2f6f9;
  'background': #010404;
  'primary': #6897de;
  'secondary': #060515;
  'accent': #3829bc;
}
 
